:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;;
}

html{
  font-size: calc(15px + 0.390625vw);
}

*{
  padding: 0;
  margin: 0;
}

.dark {
  background-color: #0A0C10;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #0A0C10;
}

.navbar{
  display: flex;
  padding: 1% 10%;
  align-items: center;
  z-index: 200;
  position: fixed;
  top: 0;
  width: 80%;
}

.nav-items{
  margin-left: auto;
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  list-style-type: none;
  width: 50%;
  justify-content: space-between;
}

.name{
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav-list-item{
  font-size: 0.8rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.nav-list-item > .material-icons{
  margin-right: 5px;
  margin-bottom: 3px;
  vertical-align: middle;
  font-size: 0.8rem;
}

.nav-list-item:hover{
  cursor: pointer;
}

.switch{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  color: white;
  font-size: 0.7rem;
}

.switch-container{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list-item::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--user-color);
  transition: width .3s;
}

.nav-list-item:hover::after{
  width: 100%;
}

.about{
  text-align: center;
  padding-top: 120px;
}

h1{
  font-size: 1.5rem;
}

.header > h1{
  margin-bottom: 10px;
}

.about-summary{
  width: 40%;
}

.about-summary > p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

.program-summary{
  font-size: 0.75rem !important;
  line-height: 1.5rem !important;
}

.about-container{
  display: flex;
  justify-content: space-around;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  border-bottom: 1px solid var(--user-color);
  margin: 0 15px;
  width: 90%;
}

.middle-break{
  border-right: 1px solid var(--user-color);
}

.about-picture{
  border: none;
  border-radius: 50px;
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contact{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.contact-icon:hover{
  transform: translateY(5px);
}

.skills{
  padding-top: 100px;
  height: auto;
}

.skill-tree{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skill-left, .skill-right, .skill-middle{
  width: 25%;
  text-align: center;
}

.skills > .header > .line{
  width: 41.5%;
}

h4{
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 95px;
  margin-bottom: 30px;
}

.icon{
  width: 15%;
}

.icon > img{
  height: 80%;
  transition: all 1s;
}

.icon > img:hover{
  transform: translateY(-10px);
  transition: all 1s;
}

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  height: 100%;
}

.icon > p{
  font-size: 0.8rem;
}